node "" { policy = "write" } 
service "vault" { policy = "write" } 
agent "" { policy = "write" }  
key "vault" { policy = "write" } 
session "" { policy = "write"} 